# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/
dist/
build/

# Envs
.venv/
venv/
env/

# OS
.DS_Store
Thumbs.db

# Local data/cache
data/index/*
!data/index/.gitkeep

# Secrets
.env
.env.*

.github/

